# Client-specific environment variables
# VITE_API_URL=http://localhost:8080
# VITE_WS_URL=ws://localhost:8080
VITE_API_URL=https://hormuzwatch.onrender.com
VITE_WS_URL=wss://hormuzwatch.onrender.com
VITE_APP_NAME=Geospatial HormuzWatch
