
# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*
!.env.example
!**/.env.example

# Logs
*.log

# Build artifacts
dist/
build/
*.o
*.obj
*.pyc
__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl