# MLflow & Object Storage Environment Variables
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=hormuzadmin
AWS_SECRET_ACCESS_KEY=HormuzSecret2026!
AWS_DEFAULT_REGION=us-east-1
